
body::before{
    content: "";
    background-image: url("https://wallpaper.dog/large/10701935.jpg");
    /* background-image: url("/pic/bg.jpg"); */
    background-size: cover;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    height: 50%;
    width: 100%;
    filter: brightness(60%)
}



#paintings{
    flex-direction: column;
}

#intro{
    height: 320px;
}

#intro h1{
    font-size: 24px;
    text-align: center;
}

#intro h3{
    font-size: 16px;
}

#blog{
    /* padding: 0px 0px; */
    width: 100%;
    /* height: 100%; */
}

nav{
    display: none;
}

.box{
    /* border: 2px solid red; */
    width: 90%;
    height: 400px;
}

#contact{
    margin: 130px 0px;
}

#art p{
    width: 100%;
    padding: 10px;
}